{% extends "base.html" %}

{% block title %}
Home - Medtrack
{% endblock %}

{% block content %}
<div class="text-center mx-5 my-3">
    <h1 class="mt-5 mt-3">Bureau of Jail Management and Penology</h1>
    <p class="lead mb-5 pb-3">Health Monitoring System for Person Deprived of Liberty in San Jose District Jail (BJMP) San Jose, Occidental Mindoro</p>
    <div class="row mt-4 alig">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="card py-5 h-100 shadow">
                <div class="card-body text-center">
                    <i class="bi bi-shield-lock display-4"></i>
                    <h5 class="card-title mt-3">Prison Admin Dashboard</h5>
                    <p class="card-text">Manage users, schedules, and system settings from the admin panel.</p>
                    <a href="{% url 'pdl:pdl_list' %}" class="btn btn-primary">Go to Admin Dashboard</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card py-5 h-100 shadow">
                <div class="card-body text-center">
                    <i class="bi bi-capsule-pill display-4"></i>
                    <h5 class="card-title mt-3">Doctor Dashboard</h5>
                    <p class="card-text">View and manage your appointments and patient records.</p>
                    <a href="{% url 'consultations:doctor_dashboard' %}" class="btn btn-primary">Go to Doctor Dashboard</a>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>

    </div>
</div>
{% endblock %}