{% extends "base.html" %}

{% block title %}
PDL Profile - {{ pdl.pdl_profile }}
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="h3">PDL Profile</h1>
    <div class="row d-flex align-items-stretch">
        <div class="col-md-4 mb-3">
            <div class="card px-5 py-5 shadow  h-100">
                <h4>Personal Information</h4>
                <p><strong>Name:</strong> {{ pdl.pdl_profile }}</p>
                <p><strong>ID:</strong> {{ pdl.id }}</p>
                <p><strong>Detention Status:</strong> {{ pdl.detention_status }}</p>
                <p><strong>Detention Reason:</strong> {{ pdl.detention_reason }}</p>
                <p><strong>Detention Term Length:</strong> {{ pdl.detention_term_length }}</p>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card px-5 py-5 shadow  h-100">
                <h4 class="pb-4">
                    <i class="bi bi-journal-medical pe-1"></i>
                    Consultations
                </h4>

                {% for consultation in consultations %}
                   <p class=" border-bottom pb-2">
                    {{ consultation }}
                   </p>
                {% endfor %}
                
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card px-5 py-5 shadow  h-100">
                <h4 class="pb-4">
                    <i class="bi bi-capsule pe-1"></i>
                    Medications</h4>

                {% for prescription in prescriptions %}
                    <p class=" border-bottom pb-2">
                        {{ prescription }}
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}